<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120927644871-vjularjkm77na9jeu6vtbvcqk753sc4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120927644871-vjularjkm77na9jeu6vtbvcqk753sc4l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>120927644871-b0qnbhqsp4eev2khvt5js54cmufam9ah.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnuvYdE_eGmYWEqCFkivVDNuHIq-_gB6U</string>
	<key>GCM_SENDER_ID</key>
	<string>120927644871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hdpolover.ybbproject</string>
	<key>PROJECT_ID</key>
	<string>ybbproject-a6607</string>
	<key>STORAGE_BUCKET</key>
	<string>ybbproject-a6607.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120927644871:ios:e5c33744e6d29aea8ba2e2</string>
	<key>DATABASE_URL</key>
	<string>https://ybbproject-a6607.firebaseio.com</string>
</dict>
</plist>